#fblogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30px; 
}

i {
    border: solid silver;
    position: absolute;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}


.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #888888;
    border-color: #888888;
}



